body {
  background: #f9f8fe;
}

a {
  color: #385170;
  font-size: 13px;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 13px;
  color: #2f3c4f;
}
