.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms p {
  opacity: 0.8;
  font-size: 15px;
}

.Synonyms li {
  display: inline-block;
  padding-right: 15px;
  text-transform: capitalize;
  font-size: 14px;
}
